body {
  background-color: #b895a5;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
}

.page {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

.page.active {
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  gap: 50px;
  text-align: left;
  flex-wrap: wrap;
  max-width: 900px;
}

.profile-pic {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border: 2px solid #000000;
  box-shadow: 2 3 10px rgba(222, 213, 213, 0.2);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 50px;
  margin: 0;
}

.links {
  font-size: 20px;
  margin: 15px 0 5px 0;
}

.subtitle {
  font-family: 'Merriweather', serif;
  font-size: 26px;
  margin: 10px 0 5px 0;
}

.location {
  font-size: 15px;
  font-family: 'Merriweather', serif;
  margin: 0;
}

.about-title {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  margin-bottom: 10px;
}

.about-me {
  font-size: 18px;
  line-height: 1.6;
  max-width: 700px;
}

footer {
  font-family: 'Merriweather', serif;
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  color: #333;
  width: 100%;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 16px;
}

.nav a {
  margin-left: 20px;
  cursor: pointer;
}